<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<header class="navbar navbar-expand-md navbar-dark bd-navbar border-bottom" th:fragment="fragment-header">
    <div class="container-xxl flex-wrap flex-md-nowrap">
        <a href="/" class="navbar-brand p-0 me-2 text-black">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">

            </svg>
            온비드
        </a>
        <div class="collapse navbar-collapse d-flex justify-content-center">
            <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav pt-2 py-md-0">
                <li class="nav-item col-6 col-md-auto">
                    <a href="/" class="nav-link link-dark p-2">홈</a>
                </li>
            </ul>
            <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav pt-2 py-md-0">
                <li class="nav-item col-6 col-md-auto">
                    <a href="/list" class="nav-link link-dark p-2">목록</a>
                </li>
            </ul>
            <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav pt-2 py-md-0">
                <li class="nav-item col-6 col-md-auto">
                    <a href="/bid" class="nav-link link-dark p-2">입찰</a>
                </li>
            </ul>
            <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav pt-2 py-md-0">
                <li class="nav-item col-6 col-md-auto">
                    <a href="/notice" class="nav-link link-dark p-2">게시판</a>
                </li>
            </ul>
            <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav pt-2 py-md-0">
                <li class="nav-item col-6 col-md-auto">
                    <a href="/check" class="nav-link link-dark p-2">문의</a>
                </li>
            </ul>
        </div>
        <div class="dropdown text-end">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
               data-bs-toggle="dropdown" aria-expanded="false">
                <img src="/image/none-p.png" alt="mdo" width="32" height="32" class="rounded-circle">
                <p class="text-black d-inline-block ml-2" th:if="${session.user}"></p>
            </a>
            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
                <div th:if="${session.user == null}">
                    <li><a class="dropdown-item" href="/sign/in">로그인</a></li>
                    <li><a class="dropdown-item" href="/sign/up">회원가입</a></li>
                </div>
                <div th:if="${session.user != null}">
                    <li><a class="dropdown-item" href="/mgmt/profile">내 프로필</a></li>
                    <li><a class="dropdown-item" href="/mgmt/dashboard">관리</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" id="signOut" type="button">로그아웃</a></li>
                </div>
            </ul>
        </div>
    </div>
</header>
</html>