<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <!-- JS -->
    <script th:src="@{/js/bootstrap.bundle.min.js}" type="text/javascript"></script>
    <!-- JQuery -->
    <script th:src="@{/js/jquery-3.6.4.min.js}" type="text/javascript"></script>
    <!-- Swiper -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
    <style>
        swiper-container {
            width: 100%;
            height: 100%;
        }

        swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        swiper-container {
            width: 100%;
            height: 300px;
            margin-left: auto;
            margin-right: auto;
        }

        swiper-slide {
            background-size: cover;
            background-position: center;
        }

        .mySwiper {
            height: 80%;
            width: 100%;
        }

        .mySwiper2 {
            height: 20%;
            box-sizing: border-box;
            padding: 10px 0;
        }

        .mySwiper2 swiper-slide {
            width: 25%;
            height: 100%;
            opacity: 0.4;
        }

        .mySwiper2 .swiper-slide-thumb-active {
            opacity: 1;
        }

        swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    </style>
</head>
<body>
<div>
    <div th:replace="/fragments/header.html :: fragment-header"></div>
    <div class="row">
        <div th:replace="pages/mgmt/fragments/nav.html :: fragment-nav"></div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">입찰품목 추가</h1>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-8">
                    <form id="addItem">
                        <div class="mb-3">
                            <label for="title" class="form-label">제목</label>
                            <input type="text" class="form-control" id="title" name="title" placeholder="제목을 입력하세요"
                                   required="required">
                        </div>
                        <div class="mb-3">
                            <label for="parent" class="form-label">대분류</label>
                            <select class="form-select" id="parent">
                                <option th:each="data : ${category}" th:if="${data.level == 0}" th:value="${data.idx}"
                                        th:text="${data.name}"></option>
                            </select>
                            <label for="children" class="form-label">소분류</label>
                            <select class="form-select" id="children">
                                <option>전체</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="seller" class="form-label">판매자</label>
                            <input type="text" class="form-control" id="seller" name="seller" readonly
                                   placeholder="판매자을 입력하세요" required="required" th:value="${session.user.userName}">
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">설명</label>
                            <input type="text" class="form-control" id="description" name="description"
                                   placeholder="설명을 입력하세요" required="required">
                        </div>
                        <div class="mb-3">
                            <label for="startPrice" class="form-label">시작가</label>
                            <input type="text" class="form-control" id="startPrice" name="startPrice"
                                   placeholder="시작가를 입력하세요"
                                   required="required">
                        </div>
                        <div class="mb-3">
                            <label for="status" class="form-label">상태</label>
                            <input type="text" class="form-control" id="status" name="status" required="required"
                                   th:value="대기중">
                        </div>
                        <div class="mb-3">
                            <label for="itemImage" class="form-label">이미지</label>
                            <input type="file" class="form-control" id="itemImage" name="itemImage" accept=".jpg, .png"
                                   multiple>
                        </div>
                        <button id="addBtn" type="submit" class="btn btn-primary w-100">등록</button>
                    </form>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-8">
                    <swiper-container id="mySwiper1"
                                      style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
                                      class="mySwiper" thumbs-swiper=".mySwiper2" space-between="10"
                                      navigation="true">
                    </swiper-container>

                    <swiper-container id="mySwiper2" class="mySwiper2" space-between="10" slides-per-view="4"
                                      free-mode="true"
                                      watch-slides-progress="true">
                    </swiper-container>
                </div>
            </div>
        </main>
    </div>
</div>
<div th:replace="/fragments/footer.html :: fragment-footer"></div>
<script>
    $(function () {
        var parentIdx;
        var childrenIdx;
        $("#parent").change(function () {
            parentIdx = $(this).val();
            var data = {
                parentIdx: parentIdx
            }
            var html = "";
            $.ajax({
                type: "GET",
                url: "/mgmt/add/category",
                data: data,
                success: function (response) {
                    var _category = response;
                    for (var i = 0; i < _category.length; i++) {
                        if (_category[i].level == 1) {
                            html += "<option value='" + _category[i].idx + "'>" + _category[i].name + "</option>";
                        }
                    }
                    $("#children").html(html);

                    $("#children").change(function () {
                        childrenIdx = $(this).val();
                    });
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
        $("#addItem").submit(function (e) {
            e.preventDefault();
            var formData = new FormData();
            var data = {};
            $(this).find("input").each(function () {
                var name = $(this).attr("name");
                var value = $(this).val();

                if (name) {
                    data[name] = value;
                }
            });
            data["parentIdx"] = parentIdx;
            data["childrenIdx"] = childrenIdx;
            var fileInput = $("#itemImage");
            for (var i = 0; i < fileInput.length; i++) {
                if (fileInput[i].files.length > 0) {
                    for (var j = 0; j < fileInput[i].files.length; j++) {
                        console.log(" fileInput[i].files[j] :::" + fileInput[i].files[j]);

                        formData.append("file", $("#itemImage")[i].files[j]);
                    }
                }
            }
            formData.append("key", new Blob([JSON.stringify(data)], {type: "application/json"}));
            $.ajax({
                type: "POST",
                url: "/mgmt/add",
                enctype: "multipart/form-data",
                contentType: false,
                processData: false,
                data: formData,
                success: function (response) {
                    alert("등록완료");
                    window.location.href = "/mgmt/add";
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
        $("#itemImage").change(function () {
            if (this.files && this.files[0]) {
                var html = "";
                for (var i = 0; i < this.files.length; i++) {
                    var reader = new FileReader;
                    reader.onload = function (data) {
                        html += "<swiper-slide>";
                        html += "<img src='" + data.target.result + "'/>";
                        html += "</swiper-slide>";
                        $("#mySwiper1").html(html);
                        $("#mySwiper2").html(html);
                    }
                    reader.readAsDataURL(this.files[i]);
                }
            }
        });
    });
</script>
</body>
</html>