<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <!-- CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <!-- JS -->
    <script th:src="@{/js/bootstrap.bundle.min.js}" type="text/javascript"></script>
    <!-- JQuery -->
    <script th:src="@{/js/jquery-3.6.4.min.js}" type="text/javascript"></script>
    <!-- Header JS -->
    <script th:src="@{/js/header.js}" type="text/javascript"></script>
</head>
<body>
<div class="container">
    <div th:replace="/fragments/header.html :: fragment-header"></div>
    <main>
        <div class="container-fluid">
            <div class="row">
                <div th:replace="/pages/mgmt/fragments/nav.html :: fragment-nav"></div>
                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h1 class="h2">대기중인 물품</h1>
                    </div>
                    <div>
                        <table class="table table-bordered">
                            <thead>
                            <tr class="text-center">
                                <th style="width: 15%">사진</th>
                                <th style="width: 15%">제목</th>
                                <th style="width: 35%">구매자</th>
                                <th style="width: 10%">확정가</th>
                                <th style="width: 10%">거래일</th>
                                <th style="width: 15%">등록</th>
                            </tr>
                            </thead>
                            <tbody id="getList">
                            </tbody>
                        </table>
                    </div>
                </main>
            </div>
        </div>
    </main>
    <div th:replace="/fragments/footer.html :: fragment-footer"></div>
</div>
<script>
    $(function () {
        $.ajax({
            type: "GET",
            url: "/mgmt/t_history/get",
            success: function (response) {
                var _item = response;
                var html = ""
                console.log(_item);
                for(var i = 0; i < _item.length; i++) {
                    html += "<tr class='align-content-center text-center'>";
                    html += "<td><img src='https://via.placeholder.com/150' class='img-fluid'></td>";
                    html += "<td>" + _item[i].title + "</td>"
                    html += "<td>" + _item[i].confirmUser.userName + "</td>"
                    html += "<td>" + _item[i].confirmPrice + "</td>"
                    html += "<td>" + _item[i].createdAt + "</td>"
                    html += "<td><button type='button' class='btn btn-danger' id='deleteBtn' value='\"" + _item[i].idx + "\"' data-index='" + _item[i].idx + "\"'>삭제</button></td>";
                    html +="</tr>";
                }
                $("#getList").html(html);
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    });
</script>
</body>
</html>